*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/product/21531050_6466383.jpg");
    background-size:cover ;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.header button{
    border-radius: 30px;
    border: none;
    background-color: rgb(130, 202, 156);
    cursor: pointer;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
.header button:hover{
    background-color: sandybrown;
    transition: 0.5s;

}
.line{
    border: 1px solid sandybrown;
    width: 80%;
    margin: auto;
}
.product{
  
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 6px;
}
.price {
    
    margin-top: 10px;
    text-align: center;
}
.price h2,p{
    margin-left: 10px;
}
.container{
    width: 30%;
    
    text-align: right;
    padding: 20px;
}
.container button{
    border: none;
    
}
.container i{
    font-size: 30px;
}
.product:nth-child(odd){
    background-color: #bbbfbc;
    
}
.product:nth-child(even){
    background-color: white;
    
}
