@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

.item{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.buy h1,h2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}
.image{
  width: 50%;
}
.image img{
  width: 100%;
}
.buy{
    width: 400px;
    padding-left: 10px;
    line-height: 1.5;
}
.buy-now{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
.input{
  margin-bottom: 20px;
}
.cmt{
  
  padding: 10px 0px 10px 0px;
  width: 250px;
}
.cmt:nth-child(odd){
  background-color: #bbbfbc;
}