*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/21553887_SL-101321-46120-04.jpg");
    background-size: cover;
    text-align: center;
}
.all{
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    width: 500px;
    padding: 30px;
    margin-top: 150px;
    border-radius: 10px;
}

input{
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    border-radius: 6px;
    border: 1px solid black;
}
form{
    margin-bottom: 0
    ;
}
a{
    margin: 15px;
    display: block;
    text-decoration: none;
}
button{
    border-radius: 5px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid black;
}
