@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;

}
.header{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
}
.choose{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    
}
.main{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.product{
    width: 90%;
}
.product img{
    width: 100%;
}