*{
    margin: 0;
    padding: 0;

}
.main{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.product{
    width: 90%;
}
.product img{
    width: 100%;
}