@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body{
    background-image: url("../img/product/21531050_6466383.jpg");
    background-size: cover;
}
.header{
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
}
.choose{
    width: 79%;
    margin: auto;
    margin-bottom: 30px;
    
}
.image{
    width: 90%;
    margin: 10px;
}
.image img{
    width: 100%;
}
.main{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.product{
    width: 90%;
}
.product img{
    width: 100%;
}
.item-name{
    
    font-size: 30px;
    font-weight: 700;
}  
.item-price{
    font-size: 20px;
    font-weight: 700;
}
